#jaelynn1 {
    width: 200px;
    height:100px;
    border-style:ridge;
    padding:50px;
    margin:120px;
    font-family:Helvetica;
    background-color:lightblue;
}
#jaelynn2 {
    width: 300px;
    height:150px;
    border-style:groove;
    padding:70px;
    margin:140px;
    font-family:Trebuchet MS;
    background-color:pink;  
}